.content_container {
  margin-top: 100px;
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner_content_container{
  width: 75%;           
  display: flex;         

}

.content_container span {
  flex: 1 1 50%;
  display: flex;             
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.profile_pic_container img {
  max-width: 100%;   
  height: auto;      
  display: block;    
  margin: 0 auto;    
}

.description_container {
  padding-left: 25px;
  flex-direction: column;
}

.icons {
  margin-top: 25px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.icons img {
  width: 25px;
}
