.post_section {
  margin-top: 80px;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column-reverse;
}

@media (max-width: 750px){
  .post_section {
  margin-top: 90px;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column-reverse;
}
}