.page_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_container {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 50%;
  justify-content: center;
}

h1 {
  font-family: "Koulen", sans-serif;
  font-size: 200px;
  color: #FA4619;
  margin: 0%;
  padding: 0%;
  line-height: 1;
}

.top_inner_container{
  display: flex;
  align-items: flex-end;
}

.navbar_div{
  flex-grow: 1;
  padding-bottom: 35px;
  z-index: 1000;
  margin-left: 100px;
  margin-right: 15px;
}

.bottom_inner_container{
  display: flex;
  justify-content: right;
}

@media (max-width: 750px) {
  .top_inner_container{
    display: flex;
    flex-direction: column;
  }

  h1 {
  font-family: "Koulen", sans-serif;
  font-size: 25vw;
  color: #FA4619;
  margin: 0%;
  padding: 0%;
  line-height: 1;
 }

  .navbar_div {
    flex-grow: 1;
    z-index: 1000;
    width: 100%;
    align-self: center;
    padding-bottom: 10px;
    margin: 0;
  }
}
