span {
  font-family: "Kulim Park";
  color: #FA4619;
}

.navbar_container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 750px){
  .navbar_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: center;
  }
}