.project_card_container {
  margin-top: 100px;
  position: relative;
  top: 0;
}

@media (max-width: 750px){
  .project_card_container {
    margin-top: 110px;
    position: relative;
    top: 0;
  }
}