.card_container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.inner_card_container{
    width: 75%;
    height: fit-content;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.project_name{
  font-family: "Koulen", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  color: #FA4619;
  margin: 0%;
  line-height: 1;
}

span, div, li{
  font-family: "Kulim Park";
  color: #FA4619;
}

li{
  margin-left: 15px;
}

.link{
  margin-top: 5px;
}

.description{
  margin-top: 5px;
}

ul{
  margin-top: 10px;
}

.link{
  font-style: italic;
}

a{
  text-decoration: none;
}