.projects_container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_card {
  width: 75%;
}

body {
  font-family: "Kulim Park";
  color: #FA4619;
}

h2 {
  font-family: "Koulen", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  color: #FA4619;
  margin: 0%;
  line-height: 1;
}

.name_time_container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.time {
  margin: 0;
}