.topbar_container {
  position: fixed;
  background-color: white;
  top: 0; 
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.inner_topbar_container {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.homelink {
  font-family: "Koulen";
  line-height: 1;
  font-size: 30px;
  letter-spacing: 5px;
}

.outer_navbar_container {
  width: 25%;
}

.navbar_container {
  flex: 1;
}
